<html>
  <head>
    <link rel="stylesheet" href="Semantic-UI-CSS-master/semantic.min.css">
    <style>
      .login-wrap {
        text-align: center;
        margin-top: 200px;
      }
    </style>
  </head>
  <body>
    <div class="login-wrap">
      <button class="ui primary button">
        <a href="/signup">Signup to the page.</a>
      </button>
    </div>
  </body>
</html>
