<html>

<head>
  <link rel="stylesheet" href="Semantic-UI-CSS-master/semantic.min.css">
</head>
<style>
  .margin-top-200 {
    margin-top: 200px;
  }
</style>

<body>
  <div class="margin-top-200">
      <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="wide column">
                <%if (error.length > 0) { %>
                  <div class="ui negative message">
                    <div class="header">
                      We're sorry...
                    </div>
                    <p>
                      <%= error %>
                    </p>
                  </div>
                  <% } %>
              <div class="ui inverted segment grey">
                <h1></h1>
                <div class="ui inverted form">
                  <form action="/login" method="POST">
                    <div class="two fields">
                      <div class="field">
                        <label>Username</label>
                        <input placeholder="Username" type="text" name="username">
                      </div>
                      <div class="field">
                        <label>Password</label>
                        <input placeholder="Password" type="password" name="password">
                      </div>
                    </div>
                    <button class="ui submit button" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</body>

</html>
