<html>
  <head>
    <link rel="stylesheet" href="Semantic-UI-CSS-master/semantic.min.css">
    <style>
      .login-wrap {
        text-align: center;
        margin-top: 200px;
      }
    </style>
  </head>
  <body>
      <div class="ui inverted segment">
          <div class="ui inverted form">
            <form action="/signup" method="POST">
                <div class="two fields">
                    <div class="field">
                      <label>Username</label>
                      <input placeholder="Username" type="text" name="username">
                    </div>
                    <div class="field">
                      <label>Password</label>
                      <input placeholder="Password" type="password" name="password">
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="Email" type="text" name="email">
                      </div>
                  </div>
                <button class="ui submit button" type="submit">Submit</button>
            </form>
          </div>
        </div>
  </body>
</html>

